<!-- チームの通知 -->
<% if params[:team_id] %>
	<% if @team_notifications.exists? %>
		<%= render 'team_notification', team_notifications: @team_notifications %>
		<%= paginate @team_notifications %>
	<% else %>
		<h3 class="text-center">通知はありません</h3>
	<% end %>
<!-- ユーザーの通知 -->
<% else %>
	<% if @notifications.exists? %>
		<%= render 'user_notifications', notifications: @notifications %>
		<%= paginate @notifications %>
	<% else %>
		<h3 class="text-center">通知はありません</h3>
	<% end %>
<% end %>