<div class="text-center">
	<h1 class="page-title">本当に退会しますか？</h1>

	<div class="row center-block">
      <div class="top-logo"></div>
    </div>

    <div class="row button-group">
      <div class="col-xs-2 col-xs-offset-4 text-center">
	    <%= link_to "やっぱりやめる", user_path(@user), class: "btn btn-primary btn-block" %>
	  </div>
	  <div class="col-xs-2 text-center">
		<%= link_to "退会する", user_path(@user), method: :delete, class: "btn btn-danger btn-block" %>
	  </div>
	</div>
</div>

