<h2><em>SoftTennisCommunity</em>　で　できること！</h2>
<h4>〇全国のソフトテニス愛好家をメッセージを交わすことができる！</h4>
<h4>〇自分の住んでいるところの近くのチームを探せる！</h4>
<h4>〇自分たちのチームを作れる！</h4>

<p>・ソフトテニスについて語りたい...。</p>
<p>・練習相手がほしい...。</p>
<p>・ソフトテニスを通じて色んな人と仲良くなりたい...。</p>
<p>・久しぶりにソフトテニスをしたいけど、どこで練習したらいいかわからない...。</p>

<h4>そんな人はこのサイトを活用してみましょう！！</h4>

<p>チームの方向け</p>

<h4>〇チームのメンバーを募集できる！</h4>
<h4>〇チームのスケジュール管理ができる！</h4>
<h4>〇練習の様子を投稿できる！</h4>

<div class="row">
  <div class="col-xs-6 text-center">
    <%= link_to "会員登録はこちら", user_registration_path, class: "btn btn-success" %>
  </div>
  <div class="col-xs-6 text-center">
	<%= link_to "既に会員の方はこちら", user_session_path, class: "btn btn-primary" %>
  </div>
</div>

