<div class="main-visual">
	<div class="top-image"></div>
</div>

<h2><em>SoftTennisCommunityへようこそ</em></h2>
<p>
   SoftTennisCommunityはソフトテニスについて語り合ったり、<br>
   一緒にソフトテニスを楽しむ仲間を見つけることができるサイトです。<br>
   気軽に会員登録をしてみましょう！！
</p>

<div class="row">
  <div class="col-xs-6 text-center">
    <%= link_to "会員登録はこちら", user_registration_path, class: "btn btn-success" %>
  </div>
  <div class="col-xs-6 text-center">
	<%= link_to "既に会員の方はこちら", user_session_path, class: "btn btn-primary" %>
  </div>
</div>
