<div class="main-visual">
	<div class="page-header">
    <h1><em>SoftTennisCommunityへようこそ</em></h1>
       <p class="lead">
         SoftTennisCommunityはソフトテニスについて語り合ったり、<br>
         一緒にソフトテニスを楽しむ仲間を見つけることができるサイトです。<br>
         気軽に会員登録をしてみましょう！！
      </p>
  </div>
</div>

<div class="container">
  <div class="row about">
      <div class="col-xs-5">
        <div class="sarve-image"></div>
      </div>
      <div class="col-xs-6 col-xs-offset-1">
        <div class="top-text">
          <h2>できること！</h2>
          <h4>〇自分の住んでいるところの近くのチームを探せる！</h4>
          <h4>〇チームの様子を風景を知ることができる！</h4>
          <h4>〇お気に入りの投稿を見つけることができる！</h4>
          <h4>〇自分たちのチームを作れる！</h4>
        </div>
      </div>
  </div>

  <hr>

  <div class="row about">
      <div class="col-xs-6" >
        <div class="top-text">
          <h2>悩んだことありませんか？</h2>
          <h4>〇練習相手がほしい...。</h4>
          <h4>〇どこでチームを探したらいいかわからない...。</h4>
          <h4>〇ソフトテニスを通じて色んな人と仲良くなりたい...。</h4>
          <h4>〇久しぶりにソフトテニスをしたいけどどうしよう...。</h4>
        </div>
      </div>
      <div class="col-xs-5 col-xs-offset-1">
        <div class="fore-image"></div>
      </div>
    </div>

  <hr>

  <div class="row about">
      <div class="col-xs-5">
        <div class="stroke-image"></div>
      </div>
      <div class="col-xs-6 col-xs-offset-1">
        <div class="top-text">
          <h2>ソフトテニスチームには</h2>
          <h4>〇チームのメンバーを募集できる！</h4>
          <h4>〇チームのスケジュール管理ができる！</h4>
          <h4>〇練習の様子を投稿できる！</h4>
        </div>
      </div>
    </div>

  <hr>

</div>

<div class="back-image">
<div class="row center-block">
  
    <div class="top-logo"></div>
  
</div>

<div class="row button-group">
  <div class="col-xs-2 col-xs-offset-4 text-center">
    <%= link_to "会員登録はこちら", new_user_registration_path, class: "btn btn-success" %>
  </div>
  <div class="col-xs-2 text-center">
  <%= link_to "既に会員の方はこちら", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
</div>

