	<% if @event.errors.any? %>
	    <div id="error_explanation">
	      <h3><%= pluralize(@event.errors.count, "error") %> prohibited this obj from being saved:</h3>

	      <ul>
	      <% @event.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
	<div class="container">
		<%= render 'form_new', event: @event %>
	</div>
</div>
</div>