/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  position: relative;
  min-height: 100%;
}

 body{
 	margin-top: 50px;
 	margin-bottom: 60px;
  padding-top: 70px;
  padding-bottom: 50px;
 }

 .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
 }

 .text-muted {
  margin: 20px 0;
}

 .top-image{
 	width: 100%;
 	height: 500px;
 	background-size: cover;
 	background-image: url(tennis_coat.jpg);
 }

 .top-logo{
  margin: 0 auto;
 }

 header,footer{
 	background-color: orange;
 }

 .team-image{
 	display: flex;
 	align-items: center;
 }

 .button-group{
  margin-bottom: 20px;
}

.navbar-right{
  margin-right: 50px;
}