// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article_body{
	padding-bottom: 50px;
	font-size: 15px;
}

.article-icon{
	font-size: 30px;
}
.tag{
	display: inline-block;
}
.tag span{
	font-size: 15px;
}

.tag-group{
	margin-bottom: 20px;
}
.label a{
	color: white;
	text-decoration: none;
}