// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team-sns i {
  font-size: 45px;
  margin-right: 20px;
}

.team_search{
	margin-bottom: 100px;
}

.map{
	position: relative;
}

.search{
	position: absolute;
	top: 50px;
	left: 100px;
}