<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-2">
            <p>サイトに関するお問い合わせ</p>
          </div>
          <div class="col-xs-2 col-xs-offset-2">
            <p>TEL xxx-xxxx-xxxx</p>
          </div>
          <div class="col-xs-2">
            <p>Email xxx@xxx </p>
          </div>
      </div>
    </footer>